<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-em-server-communication"
        version="1.2.4">

  <name>ServerComm</name>
  <description>Abstraction for communication settings, and for making both GET
    AND POST calls with authentication. </description>
  <author>K. Shankari (shankari@eecs.berkeley.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
    <engine name="cordova-android" version=">=7.0.0"/>
  </engines>

  <asset src="www/servercomm.js" target="js/servercomm.js"/>

  <js-module src="www/servercomm.js" name="servercomm">
    <clobbers target="cordova.plugins.BEMServerComm" />
  </js-module>

  <!--
  <dependency id="edu.berkeley.eecs.emission.cordova.unifiedlogger"
                url="https://github.com/e-mission/cordova-unified-logger.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.settings"
                url="https://github.com/e-mission/cordova-connection-settings.git"/>
  -->
  <framework src="src/android/httplib.gradle" custom="true" type="gradleReference" />
  <hook type="after_plugin_install" src="hooks/android/addResourcesClassImport.js" />
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ServerComm">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.comm.CommunicationHelperPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/CommunicationHelper.java" target-dir="src/edu/berkeley/eecs/emission/cordova/comm"/>
    <source-file src="src/android/CommunicationHelperPlugin.java" target-dir="src/edu/berkeley/eecs/emission/cordova/comm"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="ServerComm">
        <param name="ios-package" value="BEMCommunicationHelperPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/BEMCommunicationHelper.h"/>
    <source-file src="src/ios/BEMCommunicationHelper.m"/>
    <header-file src="src/ios/BEMCommunicationHelperPlugin.h"/>
    <source-file src="src/ios/BEMCommunicationHelperPlugin.m"/>
  </platform>
</plugin>
